.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alphabetContainer{
    display: flex ;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    gap:2px;
}

.buttonAtoZ{
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: x-large;
    border-radius: 25px;
    color: black;
    border: none;
    
    background: #1D976C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    
}

.cardContainer {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 5px;
    
}